
.vs/Project_2/v16/ipch/AutoPCH/4832c6f757f6bd83/SOURCE.ipch
.vs/Project_2/v16/ipch/AutoPCH/cb409ab82ac7c46e/HEADER.ipch
.vs/Project_2/v16/.suo
.vs/Project_2/v16/Browse.VC.db
.vs/Project_2/v16/Browse.VC.db-shm
.vs/Project_2/v16/Browse.VC.db-wal
.vs/Project_2/v16/Browse.VC.opendb
